body{
	margin:0px;
	padding: 0px;
}

/*margin是实现水平居中效果，所以这里无效*/
/*margin: 0 auto;*/
#container{
	height: 200px;
	width: 400px;
	overflow: auto;
	margin: auto;
	position: absolute;	
	top: 0;left: 0;right: 0;bottom: 0;
	background: silver;
}

#item1{
/*	这个是相对于container的绝对定位，默认行为是距离最近的
*/
	position: absolute;
	width: 40px;
	height: 40px;
	background: red; 
	border-bottom-right-radius: 40px;
}

#item2{
	width: 40px;
	height: 40px;
	background: red; 
	border-top-left-radius: 40px;
	position: absolute;
	/*right和right都设置为0,是其出现在右下角,*/
	right: 0;
	bottom: 0;
}


/*
方法二
设置位置为绝对定位，然后设置边框高度为负值，均为其高度和宽度的一般
#container {
        width: 400px;
        height: 200px;
        position: absolute;
        top: 50%; left: 50%;
        margin-left: -200px; 
        margin-top: -100px; 
		background: red;
}*/

